$primary: #212123;

body {
    background: $primary;
    display: grid;
    grid-template-columns: 100% auto;
    margin: 0;


}

.simplebar-scrollbar:before {
    background-color: lighten($primary, 30%);
}

.simplebar-scrollbar {
    margin-right: 2px;
}