body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* header {
	background-color: #333;
	color: #fff;
	padding: 20px;
} */

/* main {
	padding: 20px;
} */

section {
	margin-bottom: 30px;
}

h1, h2 {
	margin-top: 0;
}
body,html{margin:0}
html.has-scroll-smooth{overflow:hidden}
html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.has-scroll-smooth body{overflow:hidden}
.has-scroll-smooth [data-scroll-container]{min-height:100vh}
.c-scrollbar{position:absolute;right:0;top:0;width:11px;height:100%;transform-origin:center right;transition:transform .3s,opacity .3s;opacity:0;z-index:999}
.c-scrollbar:hover{transform:scaleX(1.45)}
.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling 
.c-scrollbar{opacity:1}
.c-scrollbar_thumb{position:absolute;top:0;right:0;background-color:#000;opacity:.5;width:7px;border-radius:10px;margin:2px;cursor:-webkit-grab;cursor:grab}
.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}.smooth__scroll{overflow:hidden!important}
/* Scrollbar styles */
/* ::-webkit-scrollbar {
	width: 8px;
} */



/* ::-webkit-scrollbar-track {
	background-color: #f1f1f1;
} */

/* ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
} */

/* ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
} */

/* Set a max-height to create a scrollable area */
main {
	max-height: 100%;    
	overflow-y: auto;
    overflow-x: hidden;
}
